
#game {
    display: none; 
}

.rank {
    margin: 100px;
  
}

table {
    width: 500px;
    height: 500px;
}

table td {
    width: 33.33%;
    height: 150px !important;
    text-align: center;
   
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

.border-top-border-bottom {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    
}
.border-left-border-rigth {
    border-left: 5px solid black;
    border-right: 5px solid black;
}